



{% extends "base.html" %}

{% block title %}[TITULO]{% endblock %}

{% block content%}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="/static/article_search/fullcalendar-3.9.0/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="/static/article_search/css/calendar.css" />
    <script type="text/javascript" src="{% static 'article_search/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'article_search/js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'article_search/fullcalendar-3.9.0/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'article_search/fullcalendar-3.9.0/locale-all.js' %}"></script>






<div class="mt-3">
<div class="text-center" >
<div class="btn-group pagination-centered" >
  <button type="button" class="btn btn-success">Busqueda de articulos</button>
  <button type="button" class="btn ">Disponibilidad de espacios</button>
</div>
</div>
</div>
<div class="mt-5">
<div class="mx-auto"  style="width:65em;">
<form class="form-inline" action="/action_page.php">
  <input type="text" class="form-control" name= "item" placeholder="ingrese el nombre del articulo" style="width:60em">
  <button type="submit" class="btn btn-light" style="width:5em">Buscar</button>
</form>
<div id='container'>
<div id='calendar'></div>
</div>
</div>
</div>
<script>$('#calendar').fullCalendar({
    weekends: false, // will hide Saturdays and Sundays
    defaultView: "agendaWeek",
    locale: 'es',
    Duration: '2:00:00',
    contentHeight: 600,
    events: [
    {
      title  : 'event1',
      start  : '2018-07-04T12:40:00'
    },
    {
      title  : 'event2',
      start  : '2018-07-04T12:00:00',
      end    : '2018-07-04T13:00:00'
    },
    {
      title  : 'event3',
      start  : '2018-07-04T12:30:00',
      allDay : false // will make the time show
    }
  ]
  })
</script>

{% endblock %}


