.glyphicon.glyphicon-green-dot:before {
  content:"\25cf";
  color:green;
  font-size:1.5em;
}

.glyphicon.glyphicon-yellow-dot:before {
  content:"\25cf";
  font-size:1.5em;
  color: darkgoldenrod;
}

.glyphicon.glyphicon-red-dot:before {
  content:"\25cf";
  font-size:1.5em;
  color:darkred;
}

.glyphicon.glyphicon-black-dot:before {
  content:"\25cf";
  font-size:1.5em;
  color: rgb(31, 31, 31);
}

.status {
  border-radius: 10px;
<<<<<<< HEAD
  color: white;
=======
  color:white;
>>>>>>> 8a3d53f48ea2063352b3b8753d6b3fe0d294af10
}

.status.available {
  background-color: green;
}

.status.loan {
  background-color: darkgoldenrod;
}

.status.repairs {
  background-color: darkblue;
}

.status.lost {
  background-color: darkred;
}

.scrollable {
  overflow-y: scroll;
}