.glyphicon.glyphicon-green-dot:before {
  content:"\25cf";
  color:green;
  font-size:1.5em;
}

.glyphicon.glyphicon-yellow-dot:before {
  content:"\25cf";
  font-size:1.5em;
  color: darkgoldenrod;
}

.glyphicon.glyphicon-red-dot:before {
  content:"\25cf";
  font-size:1.5em;
  color:darkred;
}

.glyphicon.glyphicon-black-dot:before {
  content:"\25cf";
  font-size:1.5em;
  color: rgb(31, 31, 31);
}

.status {
  border-radius: 10px;
  color: white;
}

.status.available {
  background-color: green;
}

.status.loan {
  background-color: darkgoldenrod;
}

.status.repairs {
  background-color: darkblue;
}

.status.lost {
  background-color: darkred;
}

.scrollable {
  overflow-y: scroll;
}
.btn-block{
    margin-top:10px !important;
    padding: 10% 0;
}
.nav-link{
    margin-top:5px !important;
}
.btn-danger{
    margin-top:5px !important;
}
.mycheckbox{
    text-align:left;
    margin-top:10px;
    margin-left:5px;
}
.mycheckboxdiv{
    text-align:left;
    margin-left:10px;
}