<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
</head>
{% extends "basepass.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="full"%}

{% block title %}Mi Perfil - {{user.first_name}} {{user.last_name}}{% endblock %}


{% block content%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="/static/userprofile/css/style.css" />



    <div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <!-- Space button -->
    <div class="col-sm-5">
        <a class="btn btn-primary btn-block" href="{% url "LP_locations" %}" role="button">Reserva Tu Espacio</a>
    </div>
    <!-- Article button -->
    <div class="col-sm-5">
      <a class="btn btn-primary btn-block" href="{% url "LP_articles" %}" role="button">Pide Tu Artículo</a>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
    </div>
    <!-- Page navigator -->
    <div class="col-sm-5">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link active" href="#">Reservas</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="{% url "loans" %}">Préstamos</a>
        </nav>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-3">
         <button style="margin-top:5px !important;" type="submit" id="delbut" form="myform" class="btn btn-danger float-right">
             <i class="fas fa-trash"></i> Eliminar seleccionados
         </button>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<div class="container">
 <div class="row">
    <div class="col-sm-1">
    </div>
     <!--List of reservations -->
    <div class="col-sm-5">
        <form id="myform" method="POST" action="{% url "delete"%}">
            {% csrf_token %}
            <div class="list-group" id="list-tab" role="tablist">
                {% if reservations %}
                    {% for reservation in reservations %}
                        {% if forloop.counter0 == 0 %}
                            {% if reservation.state == 0 %}
                                {% if reservation.is_article %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action active" id="list-{{ reservation.pk }}-list" data-toggle="list" href="#list-{{ reservation.pk }}" role="tab" aria-controls="{{ reservation.pk }}">
                                        <div class="custom-control custom-checkbox float-left">
                                            <input type="checkbox" name="custcheck" class="custom-control-input" id="customCheck{{forloop.counter0}}" value="{{reservation.pk}}" />
                                                <label class="custom-control-label" for="customCheck{{forloop.counter0}}">{{ reservation.article.name }}</label>
                                        </div>
                                        <span class="badge badge-secondary badge-pill">{{ reservation.get_status }}</span>
                                    </li>
                                {% else %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action active" id="list-{{ reservation.pk }}-list" data-toggle="list" href="#list-{{ reservation.pk }}" role="tab" aria-controls="{{ reservation.pk }}">
                                        <div class="custom-control custom-checkbox float-left">
                                            <input type="checkbox" name="custcheck" class="custom-control-input" id="customCheck{{forloop.counter0}}" value="{{reservation.pk}}" />
                                                <label class="custom-control-label" for="customCheck{{forloop.counter0}}">{{ reservation.space.name }}</label>
                                        </div>
                                        <span class="badge badge-secondary badge-pill">{{ reservation.get_status }}</span>
                                    </li>
                                {% endif %}
                            {% else %}
                                {% if reservation.is_article %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action active" id="list-{{ reservation.pk }}-list" data-toggle="list" href="#list-{{ reservation.pk }}" role="tab" aria-controls="{{ reservation.pk }}">
                                        <div class="custom-control custom-checkbox float-left">
                                                <label class="custom-control-label">{{ reservation.article.name }}</label>
                                        </div>
                                        <span class="badge badge-secondary badge-pill">{{ reservation.get_status }}</span>
                                    </li>
                                {% else %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action active" id="list-{{ reservation.pk }}-list" data-toggle="list" href="#list-{{ reservation.pk }}" role="tab" aria-controls="{{ reservation.pk }}">
                                        <div class="custom-control custom-checkbox float-left">
                                                <label class="custom-control-label">{{ reservation.space.name }}</label>
                                        </div>
                                        <span class="badge badge-secondary badge-pill">{{ reservation.get_status }}</span>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if reservation.state == 0 %}
                                {% if reservation.is_article %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" id="list-{{ reservation.pk }}-list" data-toggle="list" href="#list-{{ reservation.pk }}" role="tab" aria-controls="{{ reservation.pk }}">
                                        <div class="custom-control custom-checkbox float-left">
                                            <input type="checkbox" name="custcheck" class="custom-control-input" id="customCheck{{forloop.counter0}}" value="{{reservation.pk}}" />
                                                <label class="custom-control-label" for="customCheck{{forloop.counter0}}">{{ reservation.article.name }}</label>
                                        </div>
                                        <span class="badge badge-secondary badge-pill">{{ reservation.get_status }}</span>
                                    </li>
                                {% else %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" id="list-{{ reservation.pk }}-list" data-toggle="list" href="#list-{{ reservation.pk }}" role="tab" aria-controls="{{ reservation.pk }}">
                                        <div class="custom-control custom-checkbox float-left">
                                            <input type="checkbox" name="custcheck" class="custom-control-input" id="customCheck{{forloop.counter0}}" value="{{reservation.pk}}"/>
                                                <label class="custom-control-label" for="customCheck{{forloop.counter0}}">{{ reservation.space.name }}</label>
                                        </div>
                                        <span class="badge badge-secondary badge-pill">{{ reservation.get_status }}</span>
                                    </li>
                                {% endif %}
                            {% else %}
                                {% if reservation.is_article %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" id="list-{{ reservation.pk }}-list" data-toggle="list" href="#list-{{ reservation.pk }}" role="tab" aria-controls="{{ reservation.pk }}">
                                        <div class="custom-control custom-checkbox float-left">
                                                <label class="custom-control-label">{{ reservation.article.name }}</label>
                                        </div>
                                        <span class="badge badge-secondary badge-pill">{{ reservation.get_status }}</span>
                                    </li>
                                {% else %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" id="list-{{ reservation.pk }}-list" data-toggle="list" href="#list-{{ reservation.pk }}" role="tab" aria-controls="{{ reservation.pk }}">
                                        <div class="custom-control custom-checkbox float-left">
                                                <label class="custom-control-label">{{ reservation.space.name }}</label>
                                        </div>
                                        <span class="badge badge-secondary badge-pill">{{ reservation.get_status }}</span>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %} No hay reservas
                {% endif %}
            </div>
        </form>
    </div>
    <!--Display of selected reservation -->
    <div class="col-sm-5">
        <div class="tab-content" id="nav-tabContent">
            {% if reservations %}
                {% for reservation in reservations %}
                    {% if forloop.counter0 == 0 %}
                        {% if reservation.is_article %}
                             <div class="tab-pane fade show active" id="list-{{ reservation.pk }}" role="tabpanel" aria-labelledby="list-{{ reservation.pk }}-list">
                                <div class="card">
                                    <div class="card-header">
                                        {{reservation.article.name}}
                                        <small class="float-sm-right">{{reservation.initial_date}}</small>
                                        <footer><small>{{reservation.get_status}}</small></footer>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img class="img-fluid" src={{ reservation.article.image.url }}>
                                                <footer><a href="/articles/{{reservation.article.id}}" class="card-link">Ver detalles</a></footer>
                                            </div>
                                            <div class="col-sm-6">
                                            <p class="card-text">{{reservation.article.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="tab-pane fade show active" id="list-{{ reservation.pk }}" role="tabpanel" aria-labelledby="list-{{ reservation.pk }}-list">
                                <div class="card">
                                    <div class="card-header">
                                        {{reservation.space.name}}
                                        <small class="float-sm-right">{{reservation.initial_date}}</small>
                                        <footer><small>{{reservation.get_status}}</small></footer>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                 <img class="img-fluid" src={% static "userprofile/images/genericroom.jpg" %} alt="Chania">
                                            </div>
                                            <div class="col-sm-6">
                                            <p class="card-text">Espacio existente en las dependencias de la casa CEI.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if reservation.is_article %}
                            <div class="tab-pane fade" id="list-{{ reservation.pk }}" role="tabpanel" aria-labelledby="list-{{ reservation.pk }}-list">
                                <div class="card">
                                    <div class="card-header">
                                        {{reservation.article.name}}
                                        <small class="float-sm-right">{{reservation.initial_date}}</small>
                                        <footer><small>{{reservation.get_status}}</small></footer>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img class="img-fluid" src="{{ reservation.article.image.url }}">
                                                <footer><a href="/articles/{{reservation.article.id}}" class="card-link">Ver detalles</a></footer>
                                            </div>
                                            <div class="col-sm-6">
                                            <p class="card-text">{{reservation.article.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="tab-pane fade" id="list-{{ reservation.pk }}" role="tabpanel" aria-labelledby="list-{{ reservation.pk }}-list">
                                <div class="card">
                                    <div class="card-header">
                                        {{reservation.space.name}}
                                        <small class="float-sm-right">{{reservation.initial_date}}</small>
                                        <footer><small>{{reservation.get_status}}</small></footer>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img class="img-fluid" src={% static "userprofile/images/genericroom.jpg" %} alt="Chania">
                                            </div>
                                            <div class="col-sm-6">
                                            <p class="card-text">Espacio existente en las dependencias de la casa CEI.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %} No hay información
            {% endif %}
        </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
</div>
<script src={% static "userprofile/js/selandcheck.js" %} type="text/javascript"></script>

{% endblock %}
