{% extends "base.html" %} {% load staticfiles %} {% load bootstrap4 %} {% load font_awesome %} {% bootstrap_css %} {% bootstrap_javascript
jquery="full" %} {% block title %}{{ article.name }} [{{ article.pretty_status|upper }}]{% endblock %} {% block content %}
{% fa_css %}
<script text="text/javascript" src="{% static "articles/moment.js" %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"
/>
<script type="text/javascript" src="{% static "scripts/tempusdominus.js" %}"></script>
<div class="container-fluid w-75 mt-5">
  {% if user.registereduser.is_admin %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {% endif %}
    <div class="row justify-content-start align-items-center">

      <!--Nombre del artículo-->
      <div class="col-auto px-1">
        <h1 class="my-2"> {{ article.name }} </h1>
      </div>

      <!--Edición para administradores-->
      {% if user.registereduser.is_admin %}
      <div class="col-auto pl-1 pr-2">
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#nameEditModal">
          <i class="fa fa-edit " style="size:smaller;"></i>
        </button>

        <!--Diálogo para editar nombre del artículo.-->
        <div class="modal fade" id="nameEditModal" tabindex="-1" role="dialog" aria-labelledby="nameEditModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="nameEditModalLabel">Cambiar nombre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label">{{ form.name.label }}</label>
                  <div class="col-sm-12">
                    {{ form.name }}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Guardar cambios" class="btn btn-primary">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <!--Estado del artículo-->
      <div class="col-auto px-1 status {% if 0 == article.status %}available{% elif 1 == article.status %}loan{% elif 2 == article.status %}repairs{% else %}lost{% endif %}">
        <h2 class="my-1">{{ article.pretty_status }}</h2>
      </div>

      <!--Edición para administradores-->
      {% if user.registereduser.is_admin %}
      <div class="col-auto pl-1">
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#stateEditModal">
          <i class="fa fa-edit " style="size:smaller;"></i>
        </button>

        <!--Diálogo para editar estado del artículo.-->
        <div class="modal fade" id="stateEditModal" tabindex="-1" role="dialog" aria-labelledby="stateEditModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="stateEditModalLabel">Cambiar estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label">{{ form.status.label }}</label>
                  <div class="col-sm-12">
                    {{ form.status }}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Guardar cambios" class="btn btn-primary">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="row p-1">
      <div class="col-md-7 ml-0 pr-5">
        <div class="row">

          <!--Imagen del artículo-->
          <div class="col-md-12 my-2 mr-3">
            <img class="mx-auto d-block" style="max-width:inherit;max-height:500px;" src="{{ article.image.url }}">
          </div>

          {% if user.registereduser.is_admin %}
          <div class="col-md-12 px-0 pt-2 pb-3">
            <button type="button" class="btn btn-outline-dark float-right" data-toggle="modal" data-target="#imageEditModal">
              <i class="fa fa-edit " style="size:smaller;"></i>
            </button>

            <!--Diálogo para cambiar imagen del artículo.-->
            <div class="modal fade" id="imageEditModal" tabindex="-1" role="dialog" aria-labelledby="imageEditModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="imageEditModalLabel">Cambiar imagen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label class="control-label">{{ form.image.label }}</label>
                      <div class="col-sm-12">
                        {{ form.image }}
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Guardar cambios" class="btn btn-primary">
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          <!--Descripción del artículo-->
          <div class="col-md-12" style="border-style:dashed;border-radius:5px;border-width:1px;font-size:larger;">
            {{ article.description }}
          </div>

          <!--Edición para administradores-->
          {% if user.registereduser.is_admin %}
          <div class="col-md-12 px-0 pt-2">
            <button type="button" class="btn btn-outline-dark float-right" data-toggle="modal" data-target="#descriptionEditModal">
              <i class="fa fa-edit " style="size:smaller;"></i>
            </button>

            <!--Diálogo para editar descripción del artículo.-->
            <div class="modal fade" id="descriptionEditModal" tabindex="-1" role="dialog" aria-labelledby="descriptionEditModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="descriptionEditModalLabel">Cambiar descripción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label class="control-label">{{ form.description.label }}</label>
                      <div class="col-sm-12">
                        {{ form.description }}
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Guardar cambios" class="btn btn-primary">
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        {% if user.registereduser.is_admin %}
  </form>
  {% endif %}
  </div>

  <!--Reservas-->
  <div class="col-md-5 ml-auto pl-3">
    {% if not user.registereduser.is_admin %}

    <!--Formulario de reserva para los usuarios naturales.-->
    <div class="w-100">
      <h2>Solicitar Reserva</h2>
      {% for alert,type in messages.items %}
      <div class="alert alert-{{ type }} alert-dismissable alert-link" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&#215;</button>
        {{ alert }}
      </div>
      {% endfor %}
    </div>
    <div class="w-100 pb-2">
      <form method="post" action="/articles/{{ article.id }}">
        {% csrf_token %} {% for field in form %}
        <div class="form-group {% if field.errors %}is-invalid{% endif %}">
          {{ field.label_tag }}
          <div class="input-group date" id="{{ field.name }}" data-target-input="nearest">
            <input type="text" name="{{ field.name }}" class="form-control {% if field.errors %}is-invalid{% endif %} datetimepicker-input"
              required data-target="#{{ field.name }}" value="{{ field.value }}" />
            <div class="input-group-append" data-target="#{{ field.name }}" data-toggle="datetimepicker">
              <div class="input-group-text">
                <i class="fa {% if "day" in field.name %}fa-calendar{% else %}fa-clock-o{% endif %}"></i>
              </div>
            </div>
          </div>
          {% if field.errors %}
          <div class="invalid-feedback" style="display:block;">{% for error in field.errors %}{{ error }}{% endfor %}</div>
          {% endif %}
        </div>
        {% endfor %}
        <div class="row w-100 justify-content-end">
          <button type="submit" class="btn btn-primary">Reservar</button>
        </div>
      </form>
    </div>
    {% endif %}

    <!--Lista de reservas pedidas-->
    <div class="w-100">
      <h2>Próximos Préstamos</h2>
    </div>
    <div class="border border-dark w-100 scrollable" style="max-height:225px;">
      <ul class="my-1">
        {% if reservations %} {% for reservation in reservations %}
        <li>
          {{ reservation.initial_date|date:"d\/m\/Y H\:i" }} a {{ reservation.end_date|time:"H\:i" }} hrs.
        </li>
        {% endfor %} {% else %}
        <li>
          Este artículo aún no ha sido reservado
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  </div>
</div>
{% endblock %}