<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ article.name }}</title>  
  </head>
  
  <body>
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}" />

    <header>
      <nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark" style="background-color:gainsboro;">
        <a href="#" class="navbar-brand"><img style="width:100px;" src ="{% static 'articles/images/Logo-Cei.png' %}" alt="CEI"></a>
      
        <ul class="navbar-nav ml-auto">
          <li class="nav-item navbar-text text-right">
            <span class="glyphicon glyphicon-green-dot"></span>Jocelyn Simmonds <br>
            12.345.678-9 <br>
            jsimmonds@dcc.uchile.cl
          </li>
          <li class="nav-item dropdown">
              <a href="#" class="dropdown-toggle" id="navbarDropdown"><img style="height:100px" class="rounded-circle" src="{% static 'articles/images/default-profile.png' %}"></a>
          </li>
        </ul>
      </nav>
    </header>
  

    <div class="container mx-auto pt-4">
      <h1>{{ article.name }}</h1>
      <h2>{{ article.pretty_status }}</h2>
      {{ article.description }}
    </div>
  </body>
</html>