{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="full" %}

{% block title %}{{ article.name }} [{{ article.pretty_status|upper }}]{% endblock %}

{% block content %}
<script text="text/javascript" src="{% static "articles/moment.js" %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
  <div class="container-fluid w-75 mt-5">
    <div class="row justify-content-start align-items-center">
      <div class="col-auto">
        <h1>{{ article.name }}</h1>
      </div>
      <div class="col-auto status {% if "Disponible" in article.pretty_status %}available{% elif "préstamo" in article.pretty_status%}loan{% elif "reparación" in article.pretty_status %}repairs{% else %}lost{% endif %} pt-1">
        <h2>{{ article.pretty_status }}</h2>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-md-7 ml-0 pr-5">
        <div class="row">
          <div class="col-md-12 my-5 mr-3">
            <img class="mx-auto d-block" style="max-width:inherit;max-height:500px;" src="{% static article.image.url %}">
          </div>
          <div class="col-md-12" style="border-style:dashed;border-radius:5px;border-width:1px;font-size:larger;">
            {{ article.description }}
          </div>
        </div>
      </div>
      <div class="col-md-5 ml-auto pl-3">
        <div class="w-100">
          <h2>Solicitar Reserva</h2>
        </div>
        <div class="w-100">
          <form method="post" action="/users/register/">
            {% for field in form.fields %}
            <div class="form-group">
              <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
            {% endfor %}
          </form>
        </div>
        <div class="w-100">
          <h2>Próximas Reservas</h2>
        </div>
        <div class="border border-dark w-100 scrollable" style="max-height:350px;">
          <ul>
          {% if reservations %}
            {% for reservation in reservations %}
            <li>
              {{ reservation.initial_date|date:"d\/m\/Y H\:i"}} a {{ reservation.end_date|time:"H\:i" }} hrs.
            </li>
            {% endfor %}
          {% else %}
            <li>
              Este artículo aún no ha sido reservado
            </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
